name: Validate pull request title

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  build:
    uses: OutSystems/rd.github-reusable-workflows/.github/workflows/validate-pr-title.yaml@59bd1315cfd3558f93edff0a994430dab78812fa
    with:
      validate-semVer: false